.dot-background {
  background-color: #474747;
  background-image: radial-gradient(
    rgba(97, 97, 97, 0.993) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
  background-position: 0px 5px; /* Moves dots 5px down */
  position: relative;
  overflow: hidden;
}
